.form-cadastro {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  margin-left: 20px;
  min-width: 30%;
}

.form-input {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 16px;
}

.form-textarea {
  margin: 20px 0;
  padding: 16px;
}

.form-btn {
  background-color: #07D962;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 16px;
  transition: all 300ms;
}

.form-btn:hover {
  background-color: #05cc5b;
}

.form-btn:focus {
  border-color: green;
}

.select-categories {
  margin-bottom: 20px;
  font-size: 16px;
  padding: 16px;
}
